@using PersonalFinance.Helpers.APIs;
@using PersonalFinance.Helpers;
@using PersonalFinance.Helpers.Routes;
@using PersonalFinance.Models;
@using System.Linq.Expressions;
@attribute [
    Route(TransactionsRoutes.Index)
]
@inherits General

@if (Loading) {
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}
else {
    <header>Movimentações</header>

    <a href="@TransactionsRoutes.GoToAddition()">
        <RadzenButton Text="Adicionar" Icon="add" Class="rz-mt-8 rz-mb-4" />
    </a>

    <RadzenDataGrid       
        PageSize="25" 
        AllowPaging="false" 
        PagerHorizontalAlign="HorizontalAlign.Left" 
        ShowPagingSummary="false"
        Data="@Transactions" 
        TItem="Transaction" 
        ColumnWidth="300px" 
        LogicalFilterOperator="LogicalFilterOperator.Or"
        EmptyText="Não há registros a serem listados.">
        
        <Columns>
            <RadzenDataGridColumn 
                TItem="Transaction"
                Property="@(ObjectHelper.GetFullName<Transaction, int>(x => x.Id))"
                Title="#" 
                Frozen="true" 
                Width="80px" 
                TextAlign="TextAlign.Center" 
                CssClass=“font-weight-bold” />
            
            <RadzenDataGridColumn 
                TItem="Transaction"
                Property="@(ObjectHelper.GetFullName<Transaction, string>(x => x.Description))"
                Title="Descrição" 
                Frozen="true" 
                Width="160px" />
            
            <RadzenDataGridColumn 
                TItem="Transaction" 
                Property="@(ObjectHelper.GetFullName<Transaction, double>(x => x.Amount))" 
                Title="Valor"
                Width="80px"/>
            
            <RadzenDataGridColumn 
                TItem="Transaction"
                Property="@(ObjectHelper.GetFullName<Transaction, DateTime>(x => x.Date))"
                Title="Data" 
                Width="160px" />
            
            <RadzenDataGridColumn 
                TItem="Transaction" 
                Property="" 
                Title="" 
                Width="160px" 
                TextAlign="TextAlign.End">

                <Template Context="transaction">
                    <a href="@TransactionsRoutes.GoToEdition(transaction.Id)">
                        <RadzenButton Text="Editar"/>
                    </a>
                </Template>

            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    List<Transaction> Transactions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try {
            Transactions = await TransactionsAPI.GetSearch();
        }
        catch (Exception ex) {

            await ErrorMsg(ex);
        }
    }

    #region VALIDATION
    bool Loading => Transactions is null;
    #endregion
}
